In [1]:
import pandas as pd
import itertools
from tqdm import tqdm
import numpy as np

In [2]:
root_network = pd.read_csv('/data/passala/Generated_Tables/Sunil_root_shoot_project/root_corr_network.csv',index_col= 0)
root_network

,Zm00001eb026490,Zm00001eb056070,Zm00001eb055450,Zm00001eb053570,Zm00001eb004770,Zm00001eb029480,Zm00001eb036750,Zm00001eb013610,Zm00001eb027880,Zm00001eb014040,...,Zm00001eb417750,Zm00001eb433260,Zm00001eb426870,Zm00001eb413570,Zm00001eb409220,Zm00001eb423130,Zm00001eb416910,Zm00001eb407400,Zm00001eb438410,Zm00001eb442470
Zm00001eb026490,1.000000,-0.161307,0.070158,-0.305068,0.151565,-0.004791,0.003550,0.110109,0.062511,-0.019082,...,-0.053094,-0.033905,0.028356,-0.022153,-0.028627,-0.025592,-0.025592,-0.031374,-0.025592,-0.022153
Zm00001eb056070,-0.161307,1.000000,-0.050862,0.570344,-0.105911,0.012967,0.268643,-0.267024,-0.187783,-0.077581,...,-0.071084,-0.032071,-0.017903,-0.033044,0.021829,-0.070765,-0.025054,-0.043558,-0.016121,-0.023191
Zm00001eb055450,0.070158,-0.050862,1.000000,-0.010550,0.047733,-0.030940,0.117444,0.088183,0.066886,0.001795,...,-0.049902,0.045705,-0.002529,-0.000345,0.004557,-0.025050,0.015637,0.053525,0.022172,-0.012880
Zm00001eb053570,-0.305068,0.570344,-0.010550,1.000000,-0.180041,0.024540,0.067868,-0.318506,-0.188411,-0.144289,...,-0.010799,0.020961,0.012828,-0.000773,0.041584,-0.055348,0.048198,0.038276,0.047231,0.015937
Zm00001eb004770,0.151565,-0.105911,0.047733,-0.180041,1.000000,-0.007902,0.062914,0.177623,0.014928,0.041885,...,-0.045896,0.008735,-0.019150,-0.019150,-0.024746,-0.022123,-0.022123,0.014149,0.029220,-0.019150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zm00001eb423130,-0.025592,-0.070765,-0.025050,-0.055348,-0.022123,-0.009197,-0.076242,-0.061019,0.076376,-0.008534,...,-0.008065,-0.005150,-0.003365,-0.003365,-0.004348,1.000000,-0.003887,-0.004766,-0.003887,-0.003365
Zm00001eb416910,-0.025592,-0.025054,0.015637,0.048198,-0.022123,0.096256,-0.076242,-0.062355,0.056738,-0.008534,...,0.112197,-0.005150,-0.003365,-0.003365,0.221760,-0.003887,1.000000,-0.004766,-0.003887,-0.003365
Zm00001eb407400,-0.031374,-0.043558,0.053525,0.038276,0.014149,-0.011274,-0.079931,-0.036078,0.017501,-0.010462,...,-0.009887,0.149717,-0.004125,-0.004125,-0.005331,-0.004766,-0.004766,1.000000,-0.004766,-0.004125
Zm00001eb438410,-0.025592,-0.016121,0.022172,0.047231,0.029220,-0.009197,-0.076242,-0.013245,0.054688,-0.008534,...,-0.008065,0.183556,-0.003365,-0.003365,-0.004348,-0.003887,-0.003887,-0.004766,1.000000,-0.003365
Zm00001eb442470,-0.022153,-0.023191,-0.012880,0.015937,-0.019150,-0.007961,-0.065996,0.008025,-0.018584,-0.007387,...,-0.006981,-0.004458,-0.002913,-0.002913,-0.003764,-0.003365,-0.003365,-0.004125,-0.003365,1.000000

In [3]:
shoot_network = pd.read_csv('/data/passala/Generated_Tables/Sunil_root_shoot_project/root_corr_network.csv',index_col=0)
shoot_network

,Zm00001eb026490,Zm00001eb056070,Zm00001eb055450,Zm00001eb053570,Zm00001eb004770,Zm00001eb029480,Zm00001eb036750,Zm00001eb013610,Zm00001eb027880,Zm00001eb014040,...,Zm00001eb417750,Zm00001eb433260,Zm00001eb426870,Zm00001eb413570,Zm00001eb409220,Zm00001eb423130,Zm00001eb416910,Zm00001eb407400,Zm00001eb438410,Zm00001eb442470
Zm00001eb026490,1.000000,-0.161307,0.070158,-0.305068,0.151565,-0.004791,0.003550,0.110109,0.062511,-0.019082,...,-0.053094,-0.033905,0.028356,-0.022153,-0.028627,-0.025592,-0.025592,-0.031374,-0.025592,-0.022153
Zm00001eb056070,-0.161307,1.000000,-0.050862,0.570344,-0.105911,0.012967,0.268643,-0.267024,-0.187783,-0.077581,...,-0.071084,-0.032071,-0.017903,-0.033044,0.021829,-0.070765,-0.025054,-0.043558,-0.016121,-0.023191
Zm00001eb055450,0.070158,-0.050862,1.000000,-0.010550,0.047733,-0.030940,0.117444,0.088183,0.066886,0.001795,...,-0.049902,0.045705,-0.002529,-0.000345,0.004557,-0.025050,0.015637,0.053525,0.022172,-0.012880
Zm00001eb053570,-0.305068,0.570344,-0.010550,1.000000,-0.180041,0.024540,0.067868,-0.318506,-0.188411,-0.144289,...,-0.010799,0.020961,0.012828,-0.000773,0.041584,-0.055348,0.048198,0.038276,0.047231,0.015937
Zm00001eb004770,0.151565,-0.105911,0.047733,-0.180041,1.000000,-0.007902,0.062914,0.177623,0.014928,0.041885,...,-0.045896,0.008735,-0.019150,-0.019150,-0.024746,-0.022123,-0.022123,0.014149,0.029220,-0.019150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zm00001eb423130,-0.025592,-0.070765,-0.025050,-0.055348,-0.022123,-0.009197,-0.076242,-0.061019,0.076376,-0.008534,...,-0.008065,-0.005150,-0.003365,-0.003365,-0.004348,1.000000,-0.003887,-0.004766,-0.003887,-0.003365
Zm00001eb416910,-0.025592,-0.025054,0.015637,0.048198,-0.022123,0.096256,-0.076242,-0.062355,0.056738,-0.008534,...,0.112197,-0.005150,-0.003365,-0.003365,0.221760,-0.003887,1.000000,-0.004766,-0.003887,-0.003365
Zm00001eb407400,-0.031374,-0.043558,0.053525,0.038276,0.014149,-0.011274,-0.079931,-0.036078,0.017501,-0.010462,...,-0.009887,0.149717,-0.004125,-0.004125,-0.005331,-0.004766,-0.004766,1.000000,-0.004766,-0.004125
Zm00001eb438410,-0.025592,-0.016121,0.022172,0.047231,0.029220,-0.009197,-0.076242,-0.013245,0.054688,-0.008534,...,-0.008065,0.183556,-0.003365,-0.003365,-0.004348,-0.003887,-0.003887,-0.004766,1.000000,-0.003365
Zm00001eb442470,-0.022153,-0.023191,-0.012880,0.015937,-0.019150,-0.007961,-0.065996,0.008025,-0.018584,-0.007387,...,-0.006981,-0.004458,-0.002913,-0.002913,-0.003764,-0.003365,-0.003365,-0.004125,-0.003365,1.000000

In [4]:

paralog_list = pd.read_csv('/data/passala/git/Sunil_Ken_Root_Shoot/Updated_dataset_comparisons/Root_Shoot_comparisons/paralog_pair_list.csv')
paralog_list

                  dup1             dup2  type
0      Zm00001eb207540  Zm00001eb273760    SD
1      Zm00001eb074430  Zm00001eb249850    SD
2      Zm00001eb047830  Zm00001eb222880    SD
3      Zm00001eb390320  Zm00001eb024320    SD
4      Zm00001eb155010  Zm00001eb361410    SD
...                ...              ...   ...
75059  Zm00001eb011680  Zm00001eb434360  rTRD
75060  Zm00001eb200840  Zm00001eb434360  dTRD
75061  Zm00001eb057140  Zm00001eb434470  dTRD
75062  Zm00001eb301070  Zm00001eb434470  dTRD
75063  Zm00001eb237700  Zm00001eb434520  dTRD

[75064 rows x 3 columns]

In [5]:
gene_list = root_network.index.to_list()
doubled_list = list(zip(gene_list,gene_list))

In [6]:
cross_species_n_m_genes = pd.DataFrame(columns = ['Root Gene','Shoot Gene'],data = paralog_list[['dup1','dup2']].values )
cross_species_n_m_genes

             Root Gene       Shoot Gene
0      Zm00001eb207540  Zm00001eb273760
1      Zm00001eb074430  Zm00001eb249850
2      Zm00001eb047830  Zm00001eb222880
3      Zm00001eb390320  Zm00001eb024320
4      Zm00001eb155010  Zm00001eb361410
...                ...              ...
75059  Zm00001eb011680  Zm00001eb434360
75060  Zm00001eb200840  Zm00001eb434360
75061  Zm00001eb057140  Zm00001eb434470
75062  Zm00001eb301070  Zm00001eb434470
75063  Zm00001eb237700  Zm00001eb434520

[75064 rows x 2 columns]

In [7]:
cross_species_map_one_to_one = pd.DataFrame(columns = ['Root Gene','Shoot Gene'],data = doubled_list )

In [8]:
common_name_1 = 'Root Gene'
common_name_2 = 'Shoot Gene'

In [9]:
dictionary_mapper_one_to_two = cross_species_map_one_to_one.set_index(common_name_1).to_dict()[common_name_2]
dictionary_mapper_dos_to_uno = cross_species_map_one_to_one.set_index(common_name_2).to_dict()[common_name_1]

In [10]:
cross_species_n_m_genes['Group ID'] = cross_species_n_m_genes.index
cross_species_n_m_genes

             Root Gene       Shoot Gene  Group ID
0      Zm00001eb207540  Zm00001eb273760         0
1      Zm00001eb074430  Zm00001eb249850         1
2      Zm00001eb047830  Zm00001eb222880         2
3      Zm00001eb390320  Zm00001eb024320         3
4      Zm00001eb155010  Zm00001eb361410         4
...                ...              ...       ...
75059  Zm00001eb011680  Zm00001eb434360     75059
75060  Zm00001eb200840  Zm00001eb434360     75060
75061  Zm00001eb057140  Zm00001eb434470     75061
75062  Zm00001eb301070  Zm00001eb434470     75062
75063  Zm00001eb237700  Zm00001eb434520     75063

[75064 rows x 3 columns]

In [11]:
all_pairs_to_evaluate_for_functional_conservation = cross_species_n_m_genes.rename(columns={'Group ID':'Group Number'})
all_pairs_to_evaluate_for_functional_conservation

             Root Gene       Shoot Gene  Group Number
0      Zm00001eb207540  Zm00001eb273760             0
1      Zm00001eb074430  Zm00001eb249850             1
2      Zm00001eb047830  Zm00001eb222880             2
3      Zm00001eb390320  Zm00001eb024320             3
4      Zm00001eb155010  Zm00001eb361410             4
...                ...              ...           ...
75059  Zm00001eb011680  Zm00001eb434360         75059
75060  Zm00001eb200840  Zm00001eb434360         75060
75061  Zm00001eb057140  Zm00001eb434470         75061
75062  Zm00001eb301070  Zm00001eb434470         75062
75063  Zm00001eb237700  Zm00001eb434520         75063

[75064 rows x 3 columns]

In [12]:
all_pairs_to_evaluate_for_functional_conservation['Species 1 Score'] = np.nan
all_pairs_to_evaluate_for_functional_conservation['Species 2 Score'] = np.nan

In [13]:
double_species_1_trimmed_cococonet = root_network
double_species_2_trimmed_cococonet = root_network
trimmed_species_1_cococonet = root_network
trimmed_species_2_cococonet = root_network

In [14]:
## Rank
species_1_cococonet_ranked = root_network.rank()
species_2_cococonet_ranked = root_network.rank()

#Do top 10 Genes
top_10_species_1_genes = np.array(
    [double_species_1_trimmed_cococonet.T[c].nlargest(10).index.values for c in double_species_1_trimmed_cococonet.T]
)  # using pair list above, cut down top 10 list to relevant genes, probably by adding list as a column in panda and then filtering panda to index of pair list
top_10_species_1_genes_dataframe = pd.DataFrame(
    data=top_10_species_1_genes,
    index=double_species_1_trimmed_cococonet.index,
    columns=[
        "One",
        "Two",
        "Three",
        "Four",
        "Five",
        "Six",
        "Seven",
        "Eight",
        "Nine",
        "Ten",
    ],
)

#Convert 
top_10_species_1_genes_as_species_2 = top_10_species_1_genes_dataframe.replace(to_replace=dictionary_mapper_one_to_two)

# Get genes for checking 
have_species_1_pairs = all_pairs_to_evaluate_for_functional_conservation.loc[all_pairs_to_evaluate_for_functional_conservation[common_name_1].isin(top_10_species_1_genes_as_species_2.index)]
trimmed_all_gene_pairs_for_fc = have_species_1_pairs.loc[have_species_1_pairs[common_name_2].isin(trimmed_species_2_cococonet.index)]
trimmed_all_gene_pairs_for_fc = trimmed_all_gene_pairs_for_fc.reset_index(drop = True)

# Get values in species 2 
for two_genes in trimmed_all_gene_pairs_for_fc.iterrows():
    current_species_1_gene = two_genes[1][common_name_1]
    current_species_2_gene = two_genes[1][common_name_2]
    finger_print_genes = top_10_species_1_genes_as_species_2.loc[current_species_1_gene].to_list()
    gene_ranks_in_species_2 = species_2_cococonet_ranked.loc[species_2_cococonet_ranked.index.isin(finger_print_genes), current_species_2_gene]
    avg_rank_in_species_2 = gene_ranks_in_species_2.mean()
    index_from_pairs = two_genes[0]
    trimmed_all_gene_pairs_for_fc.at[index_from_pairs, 'Species 1 Score'] = avg_rank_in_species_2

#Repeat for Species 2 

top_10_species_2_genes = np.array(
    [double_species_2_trimmed_cococonet.T[c].nlargest(10).index.values for c in double_species_2_trimmed_cococonet.T]
)  # using pair list above, cut down top 10 list to relevant genes, probably by adding list as a column in panda and then filtering panda to index of pair list
top_10_species_2_genes_dataframe = pd.DataFrame(
    data=top_10_species_2_genes,
    index=double_species_2_trimmed_cococonet.index,
    columns=[
        "One",
        "Two",
        "Three",
        "Four",
        "Five",
        "Six",
        "Seven",
        "Eight",
        "Nine",
        "Ten",
    ],
)


#convert 
top_10_species_2_genes_as_species_1 = top_10_species_2_genes_dataframe.replace(to_replace=dictionary_mapper_dos_to_uno)


# Get values in species 1 
for two_genes in trimmed_all_gene_pairs_for_fc.iterrows():
    current_species_1_gene = two_genes[1][common_name_1]
    current_species_2_gene = two_genes[1][common_name_2]
    finger_print_genes = top_10_species_2_genes_as_species_1.loc[current_species_2_gene].to_list()
    gene_ranks_in_species_1 = species_1_cococonet_ranked.loc[species_1_cococonet_ranked.index.isin(finger_print_genes), current_species_1_gene]
    avg_rank_in_species_1 = gene_ranks_in_species_1.mean()
    index_from_pairs = two_genes[0]
    trimmed_all_gene_pairs_for_fc.loc[index_from_pairs, 'Species 2 Score'] = avg_rank_in_species_1

#Caluclate Divisors 
Number_of_species_1_genes = len(top_10_species_1_genes_as_species_2)
Number_of_species_2_genes = len(top_10_species_2_genes_as_species_1)


species_1_score_divisor = Number_of_species_2_genes - 4.5
species_2_score_divisor = Number_of_species_1_genes-4.5

#Divide and Average 
trimmed_all_gene_pairs_for_fc['Species 1 Score'] = trimmed_all_gene_pairs_for_fc['Species 1 Score']/species_1_score_divisor
trimmed_all_gene_pairs_for_fc['Species 2 Score'] = trimmed_all_gene_pairs_for_fc['Species 2 Score']/species_2_score_divisor
trimmed_all_gene_pairs_for_fc['Total Score'] = trimmed_all_gene_pairs_for_fc[['Species 1 Score','Species 2 Score']].mean(axis = 1)

In [15]:
trimmed_all_gene_pairs_for_fc

,Root Gene,Shoot Gene,Group Number,Species 1 Score,Species 2 Score,Total Score
0,Zm00001eb207540,Zm00001eb273760,0,0.584144,0.541681,0.562912
1,Zm00001eb047830,Zm00001eb222880,2,0.982115,0.912994,0.947555
2,Zm00001eb390320,Zm00001eb024320,3,0.633229,0.560470,0.596849
3,Zm00001eb155010,Zm00001eb361410,4,0.993334,0.970952,0.982143
4,Zm00001eb155010,Zm00001eb294190,5,0.986510,0.968324,0.977417
...,...,...,...,...,...,...
44722,Zm00001eb011680,Zm00001eb434360,75059,0.973858,0.953429,0.963643
44723,Zm00001eb200840,Zm00001eb434360,75060,0.546389,0.860492,0.703441
44724,Zm00001eb057140,Zm00001eb434470,75061,0.469713,0.757571,0.613642
44725,Zm00001eb301070,Zm00001eb434470,75062,0.062613,0.089487,0.076050
44726,Zm00001eb237700,Zm00001eb434520,75063,0.752868,0.540899,0.646883

In [16]:
trimmed_all_gene_pairs_for_fc.to_csv('/data/passala/Generated_Tables/Sunil_root_shoot_project/paralog_1_root_to_paralog_2_root.csv',index= False)