In [1]:
import pandas as pd
import itertools
from tqdm import tqdm
import numpy as np

In [2]:
root_network = pd.read_csv('/data/passala/Generated_Tables/Sunil_root_shoot_project/shoot_corr_network.csv',index_col= 0)
root_network

,Zm00001eb026490,Zm00001eb056070,Zm00001eb055450,Zm00001eb053570,Zm00001eb004770,Zm00001eb036750,Zm00001eb013610,Zm00001eb027880,Zm00001eb022970,Zm00001eb048840,...,Zm00001eb406250,Zm00001eb408660,Zm00001eb423950,Zm00001eb427970,Zm00001eb412510,Zm00001eb412360,Zm00001eb438200,Zm00001eb440730,Zm00001eb440710,Zm00001eb442750
Zm00001eb026490,1.000000,-0.082609,0.059242,-0.080766,0.041823,-0.154811,0.078052,0.021532,0.015335,0.041534,...,-0.000663,0.028044,-0.027899,0.017457,0.021864,0.003343,0.090667,-0.021996,-0.031274,-0.038995
Zm00001eb056070,-0.082609,1.000000,-0.039183,0.102468,0.046416,-0.002364,-0.011198,0.101587,0.049181,0.050526,...,0.045565,-0.020748,0.023459,0.008623,-0.020748,0.032149,0.044354,-0.020748,0.046243,0.091511
Zm00001eb055450,0.059242,-0.039183,1.000000,0.040894,0.086323,0.009888,0.018392,0.112497,0.060868,0.021020,...,0.000120,0.071114,0.029410,0.036873,-0.006003,-0.045101,0.036664,-0.056394,-0.003751,-0.026945
Zm00001eb053570,-0.080766,0.102468,0.040894,1.000000,0.018475,0.139614,0.005751,0.039238,0.019293,0.006813,...,0.050260,0.024850,0.002469,0.000467,0.092054,0.026820,-0.020612,0.013838,0.021157,0.049598
Zm00001eb004770,0.041823,0.046416,0.086323,0.018475,1.000000,0.052413,0.055639,0.066403,0.084252,-0.013140,...,0.020357,-0.027382,0.044116,-0.003762,0.024893,-0.031636,0.016718,0.030775,0.027449,-0.038789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zm00001eb412360,0.003343,0.032149,-0.045101,0.026820,-0.031636,0.035753,0.020808,0.030325,-0.036552,0.000462,...,-0.003886,-0.003886,-0.004489,-0.005504,-0.003886,1.000000,-0.003886,-0.003886,-0.003886,-0.005504
Zm00001eb438200,0.090667,0.044354,0.036664,-0.020612,0.016718,-0.043853,0.041537,0.023793,-0.031637,-0.007048,...,-0.003363,-0.003363,-0.003886,-0.004764,-0.003363,-0.003886,1.000000,-0.003363,-0.003363,-0.004764
Zm00001eb440730,-0.021996,-0.020748,-0.056394,0.013838,0.030775,0.032035,0.022643,-0.020281,-0.031637,0.004080,...,-0.003363,-0.003363,-0.003886,-0.004764,-0.003363,-0.003886,-0.003363,1.000000,-0.003363,-0.004764
Zm00001eb440710,-0.031274,0.046243,-0.003751,0.021157,0.027449,-0.004777,-0.012359,0.036171,0.004058,0.031479,...,-0.003363,-0.003363,-0.003886,-0.004764,-0.003363,-0.003886,-0.003363,-0.003363,1.000000,-0.004764
Zm00001eb442750,-0.038995,0.091511,-0.026945,0.049598,-0.038789,0.022414,0.077981,0.023464,0.071087,0.013897,...,-0.004764,-0.004764,-0.005504,-0.006749,-0.004764,-0.005504,-0.004764,-0.004764,-0.004764,1.000000

In [3]:
shoot_network = pd.read_csv('/data/passala/Generated_Tables/Sunil_root_shoot_project/shoot_corr_network.csv',index_col=0)
shoot_network

,Zm00001eb026490,Zm00001eb056070,Zm00001eb055450,Zm00001eb053570,Zm00001eb004770,Zm00001eb036750,Zm00001eb013610,Zm00001eb027880,Zm00001eb022970,Zm00001eb048840,...,Zm00001eb406250,Zm00001eb408660,Zm00001eb423950,Zm00001eb427970,Zm00001eb412510,Zm00001eb412360,Zm00001eb438200,Zm00001eb440730,Zm00001eb440710,Zm00001eb442750
Zm00001eb026490,1.000000,-0.082609,0.059242,-0.080766,0.041823,-0.154811,0.078052,0.021532,0.015335,0.041534,...,-0.000663,0.028044,-0.027899,0.017457,0.021864,0.003343,0.090667,-0.021996,-0.031274,-0.038995
Zm00001eb056070,-0.082609,1.000000,-0.039183,0.102468,0.046416,-0.002364,-0.011198,0.101587,0.049181,0.050526,...,0.045565,-0.020748,0.023459,0.008623,-0.020748,0.032149,0.044354,-0.020748,0.046243,0.091511
Zm00001eb055450,0.059242,-0.039183,1.000000,0.040894,0.086323,0.009888,0.018392,0.112497,0.060868,0.021020,...,0.000120,0.071114,0.029410,0.036873,-0.006003,-0.045101,0.036664,-0.056394,-0.003751,-0.026945
Zm00001eb053570,-0.080766,0.102468,0.040894,1.000000,0.018475,0.139614,0.005751,0.039238,0.019293,0.006813,...,0.050260,0.024850,0.002469,0.000467,0.092054,0.026820,-0.020612,0.013838,0.021157,0.049598
Zm00001eb004770,0.041823,0.046416,0.086323,0.018475,1.000000,0.052413,0.055639,0.066403,0.084252,-0.013140,...,0.020357,-0.027382,0.044116,-0.003762,0.024893,-0.031636,0.016718,0.030775,0.027449,-0.038789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zm00001eb412360,0.003343,0.032149,-0.045101,0.026820,-0.031636,0.035753,0.020808,0.030325,-0.036552,0.000462,...,-0.003886,-0.003886,-0.004489,-0.005504,-0.003886,1.000000,-0.003886,-0.003886,-0.003886,-0.005504
Zm00001eb438200,0.090667,0.044354,0.036664,-0.020612,0.016718,-0.043853,0.041537,0.023793,-0.031637,-0.007048,...,-0.003363,-0.003363,-0.003886,-0.004764,-0.003363,-0.003886,1.000000,-0.003363,-0.003363,-0.004764
Zm00001eb440730,-0.021996,-0.020748,-0.056394,0.013838,0.030775,0.032035,0.022643,-0.020281,-0.031637,0.004080,...,-0.003363,-0.003363,-0.003886,-0.004764,-0.003363,-0.003886,-0.003363,1.000000,-0.003363,-0.004764
Zm00001eb440710,-0.031274,0.046243,-0.003751,0.021157,0.027449,-0.004777,-0.012359,0.036171,0.004058,0.031479,...,-0.003363,-0.003363,-0.003886,-0.004764,-0.003363,-0.003886,-0.003363,-0.003363,1.000000,-0.004764
Zm00001eb442750,-0.038995,0.091511,-0.026945,0.049598,-0.038789,0.022414,0.077981,0.023464,0.071087,0.013897,...,-0.004764,-0.004764,-0.005504,-0.006749,-0.004764,-0.005504,-0.004764,-0.004764,-0.004764,1.000000

In [4]:

paralog_list = pd.read_csv('/data/passala/git/Sunil_Ken_Root_Shoot/Updated_dataset_comparisons/Root_Shoot_comparisons/paralog_pair_list.csv')
paralog_list

                  dup1             dup2  type
0      Zm00001eb207540  Zm00001eb273760    SD
1      Zm00001eb074430  Zm00001eb249850    SD
2      Zm00001eb047830  Zm00001eb222880    SD
3      Zm00001eb390320  Zm00001eb024320    SD
4      Zm00001eb155010  Zm00001eb361410    SD
...                ...              ...   ...
75059  Zm00001eb011680  Zm00001eb434360  rTRD
75060  Zm00001eb200840  Zm00001eb434360  dTRD
75061  Zm00001eb057140  Zm00001eb434470  dTRD
75062  Zm00001eb301070  Zm00001eb434470  dTRD
75063  Zm00001eb237700  Zm00001eb434520  dTRD

[75064 rows x 3 columns]

In [5]:
gene_list = root_network.index.to_list()
doubled_list = list(zip(gene_list,gene_list))

In [6]:
cross_species_n_m_genes = pd.DataFrame(columns = ['Root Gene','Shoot Gene'],data = paralog_list[['dup1','dup2']].values )
cross_species_n_m_genes

             Root Gene       Shoot Gene
0      Zm00001eb207540  Zm00001eb273760
1      Zm00001eb074430  Zm00001eb249850
2      Zm00001eb047830  Zm00001eb222880
3      Zm00001eb390320  Zm00001eb024320
4      Zm00001eb155010  Zm00001eb361410
...                ...              ...
75059  Zm00001eb011680  Zm00001eb434360
75060  Zm00001eb200840  Zm00001eb434360
75061  Zm00001eb057140  Zm00001eb434470
75062  Zm00001eb301070  Zm00001eb434470
75063  Zm00001eb237700  Zm00001eb434520

[75064 rows x 2 columns]

In [7]:
cross_species_map_one_to_one = pd.DataFrame(columns = ['Root Gene','Shoot Gene'],data = doubled_list )

In [8]:
common_name_1 = 'Root Gene'
common_name_2 = 'Shoot Gene'

In [9]:
dictionary_mapper_one_to_two = cross_species_map_one_to_one.set_index(common_name_1).to_dict()[common_name_2]
dictionary_mapper_dos_to_uno = cross_species_map_one_to_one.set_index(common_name_2).to_dict()[common_name_1]

In [10]:
cross_species_n_m_genes['Group ID'] = cross_species_n_m_genes.index
cross_species_n_m_genes

             Root Gene       Shoot Gene  Group ID
0      Zm00001eb207540  Zm00001eb273760         0
1      Zm00001eb074430  Zm00001eb249850         1
2      Zm00001eb047830  Zm00001eb222880         2
3      Zm00001eb390320  Zm00001eb024320         3
4      Zm00001eb155010  Zm00001eb361410         4
...                ...              ...       ...
75059  Zm00001eb011680  Zm00001eb434360     75059
75060  Zm00001eb200840  Zm00001eb434360     75060
75061  Zm00001eb057140  Zm00001eb434470     75061
75062  Zm00001eb301070  Zm00001eb434470     75062
75063  Zm00001eb237700  Zm00001eb434520     75063

[75064 rows x 3 columns]

In [11]:
all_pairs_to_evaluate_for_functional_conservation = cross_species_n_m_genes.rename(columns={'Group ID':'Group Number'})
all_pairs_to_evaluate_for_functional_conservation

             Root Gene       Shoot Gene  Group Number
0      Zm00001eb207540  Zm00001eb273760             0
1      Zm00001eb074430  Zm00001eb249850             1
2      Zm00001eb047830  Zm00001eb222880             2
3      Zm00001eb390320  Zm00001eb024320             3
4      Zm00001eb155010  Zm00001eb361410             4
...                ...              ...           ...
75059  Zm00001eb011680  Zm00001eb434360         75059
75060  Zm00001eb200840  Zm00001eb434360         75060
75061  Zm00001eb057140  Zm00001eb434470         75061
75062  Zm00001eb301070  Zm00001eb434470         75062
75063  Zm00001eb237700  Zm00001eb434520         75063

[75064 rows x 3 columns]

In [12]:
all_pairs_to_evaluate_for_functional_conservation['Species 1 Score'] = np.nan
all_pairs_to_evaluate_for_functional_conservation['Species 2 Score'] = np.nan

In [13]:
double_species_1_trimmed_cococonet = shoot_network
double_species_2_trimmed_cococonet = shoot_network

trimmed_species_1_cococonet = shoot_network
trimmed_species_2_cococonet = shoot_network

In [14]:
## Rank
species_1_cococonet_ranked = shoot_network.rank()
species_2_cococonet_ranked = shoot_network.rank()

#Do top 10 Genes
top_10_species_1_genes = np.array(
    [double_species_1_trimmed_cococonet.T[c].nlargest(10).index.values for c in double_species_1_trimmed_cococonet.T]
)  # using pair list above, cut down top 10 list to relevant genes, probably by adding list as a column in panda and then filtering panda to index of pair list
top_10_species_1_genes_dataframe = pd.DataFrame(
    data=top_10_species_1_genes,
    index=double_species_1_trimmed_cococonet.index,
    columns=[
        "One",
        "Two",
        "Three",
        "Four",
        "Five",
        "Six",
        "Seven",
        "Eight",
        "Nine",
        "Ten",
    ],
)

#Convert 
top_10_species_1_genes_as_species_2 = top_10_species_1_genes_dataframe.replace(to_replace=dictionary_mapper_one_to_two)

# Get genes for checking 
have_species_1_pairs = all_pairs_to_evaluate_for_functional_conservation.loc[all_pairs_to_evaluate_for_functional_conservation[common_name_1].isin(top_10_species_1_genes_as_species_2.index)]
trimmed_all_gene_pairs_for_fc = have_species_1_pairs.loc[have_species_1_pairs[common_name_2].isin(trimmed_species_2_cococonet.index)]
trimmed_all_gene_pairs_for_fc = trimmed_all_gene_pairs_for_fc.reset_index(drop = True)

# Get values in species 2 
for two_genes in trimmed_all_gene_pairs_for_fc.iterrows():
    current_species_1_gene = two_genes[1][common_name_1]
    current_species_2_gene = two_genes[1][common_name_2]
    finger_print_genes = top_10_species_1_genes_as_species_2.loc[current_species_1_gene].to_list()
    gene_ranks_in_species_2 = species_2_cococonet_ranked.loc[species_2_cococonet_ranked.index.isin(finger_print_genes), current_species_2_gene]
    avg_rank_in_species_2 = gene_ranks_in_species_2.mean()
    index_from_pairs = two_genes[0]
    trimmed_all_gene_pairs_for_fc.at[index_from_pairs, 'Species 1 Score'] = avg_rank_in_species_2

#Repeat for Species 2 

top_10_species_2_genes = np.array(
    [double_species_2_trimmed_cococonet.T[c].nlargest(10).index.values for c in double_species_2_trimmed_cococonet.T]
)  # using pair list above, cut down top 10 list to relevant genes, probably by adding list as a column in panda and then filtering panda to index of pair list
top_10_species_2_genes_dataframe = pd.DataFrame(
    data=top_10_species_2_genes,
    index=double_species_2_trimmed_cococonet.index,
    columns=[
        "One",
        "Two",
        "Three",
        "Four",
        "Five",
        "Six",
        "Seven",
        "Eight",
        "Nine",
        "Ten",
    ],
)


#convert 
top_10_species_2_genes_as_species_1 = top_10_species_2_genes_dataframe.replace(to_replace=dictionary_mapper_dos_to_uno)


# Get values in species 1 
for two_genes in trimmed_all_gene_pairs_for_fc.iterrows():
    current_species_1_gene = two_genes[1][common_name_1]
    current_species_2_gene = two_genes[1][common_name_2]
    finger_print_genes = top_10_species_2_genes_as_species_1.loc[current_species_2_gene].to_list()
    gene_ranks_in_species_1 = species_1_cococonet_ranked.loc[species_1_cococonet_ranked.index.isin(finger_print_genes), current_species_1_gene]
    avg_rank_in_species_1 = gene_ranks_in_species_1.mean()
    index_from_pairs = two_genes[0]
    trimmed_all_gene_pairs_for_fc.loc[index_from_pairs, 'Species 2 Score'] = avg_rank_in_species_1

#Caluclate Divisors 
Number_of_species_1_genes = len(top_10_species_1_genes_as_species_2)
Number_of_species_2_genes = len(top_10_species_2_genes_as_species_1)


species_1_score_divisor = Number_of_species_2_genes - 4.5
species_2_score_divisor = Number_of_species_1_genes-4.5

#Divide and Average 
trimmed_all_gene_pairs_for_fc['Species 1 Score'] = trimmed_all_gene_pairs_for_fc['Species 1 Score']/species_1_score_divisor
trimmed_all_gene_pairs_for_fc['Species 2 Score'] = trimmed_all_gene_pairs_for_fc['Species 2 Score']/species_2_score_divisor
trimmed_all_gene_pairs_for_fc['Total Score'] = trimmed_all_gene_pairs_for_fc[['Species 1 Score','Species 2 Score']].mean(axis = 1)

In [15]:
trimmed_all_gene_pairs_for_fc

,Root Gene,Shoot Gene,Group Number,Species 1 Score,Species 2 Score,Total Score
0,Zm00001eb207540,Zm00001eb273760,0,0.458340,0.328965,0.393653
1,Zm00001eb074430,Zm00001eb249850,1,0.554330,0.305346,0.429838
2,Zm00001eb047830,Zm00001eb222880,2,0.984448,0.890986,0.937717
3,Zm00001eb390320,Zm00001eb024320,3,0.362342,0.423188,0.392765
4,Zm00001eb155010,Zm00001eb361410,4,0.982982,0.936765,0.959874
...,...,...,...,...,...,...
39396,Zm00001eb011680,Zm00001eb434360,75059,0.968760,0.986829,0.977794
39397,Zm00001eb200840,Zm00001eb434360,75060,0.942589,0.876661,0.909625
39398,Zm00001eb057140,Zm00001eb434470,75061,0.964429,0.855248,0.909838
39399,Zm00001eb301070,Zm00001eb434470,75062,0.654505,0.778693,0.716599
39400,Zm00001eb237700,Zm00001eb434520,75063,0.733710,0.584875,0.659293

In [16]:
trimmed_all_gene_pairs_for_fc.to_csv('/data/passala/Generated_Tables/Sunil_root_shoot_project/paralog_1_shoot_to_paralog_2_shoot.csv',index= False)